<html>

<head>
	<title>sendBill.html</title>
</head>

<body>
	<h1>Xin chào <span th:text="${name}"></span></h1>
	<p>Đơn hàng của đã đặt</p>
		<tr>
			<th>Product</th>
			<th>description</th>
			<th>Price</th>
			<th>Quantity</th>
	<!--	<th>Price</th> -->
		</tr>
	
	<tr th:each="b : ${billItems}">
		
		<td th:text="${b.product?.name}"></td>
		<td th:text="${b.product?.description}"></td>
		<td th:text="${b.product?.price}"></td>
		<td th:text="${b.quantity}"></td>
	<!--	<td th:text="${b.price}"></td>  -->
	</tr>

	<p>Cảm ơn bạn đã lựa chọn sản phẩm của chúng tôi !</p>

</body>

</html>